{% extends 'base.html' %}
{% block main-container %}
            <div class="large-9 large-centered columns">
                <p>
                Congratulations. Your account is now activated and you can now
                now have access to our vast database of preparatory quizzes to
                help you prepare for your exams.
                </p>
            </div>
            <div class="large-9 large-centered columns">
                <a class="button" href="{% url auth_login %}">START</a>
            </div>
{% endblock main-container %}
