{% extends 'base_child.html' %}
{% block title%}Reset Password{% endblock title %}

{% block main-container %}
            <div class="large-6 large-centered columns">
                <form action="" method="post">
                  {% csrf_token %}
                  <fieldset>
                    <legend>Reset Password</legend>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endfor %}
                  </fieldset>
                  <input type="submit" value="Reset" />
                </form>
{% endblock main-container %}
