{% extends 'base_child.html' %}
{% block title %}Password Change Form{% endblock title %}
{% block main-container %}
            <div class="large-6 large-centered columns">
                <form action="" method="post">
                  {% csrf_token %}
                  <fieldset>
                    <legend>Change Password</legend>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endfor %}
                  </fieldset>
                  <input type="submit" value="Signin" />
                  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                </form>
            </div>
{% endblock main-container %}
