{% extends 'base.html' %}
{% block title%}Password Changed{% endblock title %}

{% block main-container %}
            <div class="large-8 large-centered columns">
                <h2>Password Changed</h2>
                <p>Your password has been successfully changed.</p>
                <p><a href="{% url 'home' %}" class="button">Let me practise</a>
                {% comment %}| <a href="#">I want to check my performance so far</a></p>{% endcomment %}
            </div>
{% endblock main-container %}
