{% extends 'base_child.html' %}
{% block main-container %}    
            <div class="small-11 large-6 large-centered small-centered columns">
                <form action='' method='post'>{% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.label_tag }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <strong>{{ error }}</strong>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                {% endfor %}
                        <div class="small-6 large-3 small-centered large-centered columns">
                            <input type="submit" value="Register" />
                        </div>
                </form>
            </div>  <!-- large-10 large-centered columns -->
{% endblock main-container %}
