{% extends 'base.html' %}
{% block main-container %}
                <div class="large-10 large-centered columns">
                    <h5 class="subheader">
                    {% for answer in last_answers %}
                        {% if answer.answer.is_true %}
                            <span class="success label"> C </span>
                        {% else %}
                            <span class="alert label"> W </span>
                        {% endif %}
                    {% endfor %}
                    {% if is_correct %}<span class="success label">correct{% else %}<span class="alert label">wrong!{% endif %}</span>
                    </h5>
                   {% if explanation %}
                        <p class="title"><a href="#">Question</a></p> 
                        <h4>{{ question|safe }}</h4>
                        <br /><br /><br /><br /><br />
                        <p class="title"><a href="#">Explanation</a></p> 
                        {% for explan in explanation %}
                        <h4>{{ explan|safe }}</h4>
                        {% endfor %}
                    {% endif %}
                                        
                    {% if links %}
                    <br /><br /><br /><br /><br />
                    <p class="title"><a href="#">Also Read</a></p>
                    {% for link in links %}
                        <a href="{{ link }}">{{ link }}</a>
                    {% endfor %}
                    {% endif %}

                    <br /><br /><br /><br /><br />
                    <nav class="converted breadcrumbs">
                        <a href="{% url home %}">Go Home</a>
                        <a href="{% url quiz_selection %}">End Test</a>
                        <a href="{{ next }}">Next</a>
                    </nav>

                </div> <!-- large-10 .... -->
{% endblock %}
