{% extends 'base.html' %}
{% block main-container %}
                <div class="large-8 columns">
                    <h5 class="subheader">
                    {% for answer in last_answers %}
                        {% if answer.answer.is_true %}
                            <span class="success label"> C </span>
                        {% else %}
                            <span class="alert label"> W </span>
                        {% endif %}
                    {% endfor %}
                    {% if is_correct %}<span class="success label">correct{% else %}<span class="alert label">wrong!{% endif %}</span>
                    </h5>
                   {% if explanation %}
                        <p>Question:</p> 
                        {{ question|safe }}
                        <hr />
                        {% for explan in explanation %}
                            {{ explan|safe }}
                        {% endfor %}
                    {% endif %}
                    
                    <a href="https://twitter.com/dotmumu" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @dotmumu</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    
                    <su:badge layout="2"></su:badge>
                    <script type="text/javascript">
                    (function() {
                    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
                    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
                    })();
                </script>
                    
                </div>  <!-- large-8 columns -->
                <div class="large-4 columns">
                    <ul class="button-group even-3">
                        <li><a class="small button" href="{% url home %}">Go Home</a></li>
                        <li><a class="small button" href="{% url quiz_selection %}">End Test</a></li>
                        <li><a class="small button" href="{{ next }}">Next</a></li>
                    </ul>

                    {% if links %}
                    <div class="panel">
                            <h4 class="subheader">Also Read:</h4>
                            {% for link in links %}
                                <a href="{{ link }}">{{ link }}</a>
                                <hr />
                            {% endfor %}
                    </div>
                    {% endif %}
                    <div class="show-for-large-up large-12 small-12 columns">
                        <h5>Tip</h5>
                        <p>When you highlight a word or phrase, there will be a pop-up
                        with information about the the highlighted word or phrase</p>
                    </div>
                </div>
{% endblock %}
