{% extends 'base.html' %}
{% block main-container %}
                <div class="large-10 large-centered columns">
                    <h5 class="subheader">
                    {% for answer in last_answers %}
                        {% if answer.answer.is_true %}
                            <span class="success label"> C </span>
                        {% else %}
                            <span class="alert label"> W </span>
                        {% endif %}
                    {% endfor %}
                    {% if is_correct %}<span class="success label">correct{% else %}<span class="alert label">wrong!{% endif %}</span>
                    </h5>
                   {% if explanation %}
                   <div class="panel radius">
                        <h5>Question</h5>
                        {{ question|safe }}
                    </div>
                    <div class="panel radius">
                        <h5>Explanation</h5>
                        {% for explan in explanation %}
                            {{ explan|safe }}
                        {% endfor %}
                    </div>
                    {% endif %}
                                        
                    {% if links %}
                    <div class="panel radius">
                        <h5>Links</h5>
                        <ul>
                        {% for link in links %}
                            <li><a href="{{ link }}">{{ link.description }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <nav class="forward-crumbs">
                        <ul>
                            {% if category %}
                            <li><a href="/practise/multiple-choice/{{ category }}/{{ identifier }}/random/">Next Question</a></li>
                            {% else %}
                            <li><a href="/practise/multiple-choice/">Random Question</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                
                    <nav class="dark-nav-bar">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'quiz_selection' %}">Choose Topic</a></li>
                        </ul>
                    </nav>

                </div> <!-- large-10 .... -->
{% endblock %}
