{% extends 'base.html' %}
{% block title %}Mumu| ICAN Revision Blog: {% endblock %}
{% load markdownfilter %}
{% block main-container %}
            <div class="large-10 columns">
                <!-- ad -->

                <!-- End of ad -->
                <span class="secondary radius label"><h4>{{ article.title }}</h4></span>

                <!-- ad -->
                <div class="show-for-small">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Mobile leaderboard top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px"
                         data-ad-client="ca-pub-3230262165925298"
                         data-ad-slot="3425079985">
                    </ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <!-- end of ad -->

                {{ article.text|convert_markdown|safe }}

            </div>
{% endblock main-container %}
