{% extends 'base.html' %}
{% block title %}Mumu| ICAN Revision Blog: {% endblock %}
{% load markdownfilter %}
{% block main-container %}
            <div class="large-10 columns">
                {{ article.text|convert_markdown|safe }}

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    {% comment %}/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */{% endcomment %}
                    var disqus_shortname = 'icanmumu'; // required: replace example with your forum shortname

                    {% comment %}/* * * DON'T EDIT BELOW THIS LINE * * */{% endcomment %}
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            </div>
{% endblock main-container %}
