<!DOCTYPE html>
    <!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
    <!--[if IE 9]><html class="no-js lt-ie10" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

    <head>
        {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Babatunde Akinyanmi" />
        <meta name="google-site-verification" content="AkYA2HCeEUN3D3pz-NvDLJ0Z9hQfop9OjPAR_X8lp0E" />
        {% endblock meta %}
        
        <title>{% block title %}ICAN examination revision{% endblock title %}</title>

        {% block favicon %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon.png" />
        {% endblock favicon %}
        
        {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/css1.css" />
        {% endblock css %}

        {% block script %}
        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
        {% endblock script %}

        {% block google-analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43282736-1', 'mumu.com.ng');
          ga('send', 'pageview');

        </script>
        {% endblock %}
        
    </head>
    
    <body>
        {% if messages %}
        <div data-alert class="alert-box ">
            {% for message in messages %}
            <p>{{ message }}<br /></p>
            <a href="#" class="close">&times;</a>
            {% endfor %}
        </div>
        {% endif %}

        {% block navigation %}
        <!-- Navigation tins -------->
        <nav class="top-bar hide-for-small" data-topbar>
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/transparent.png" alt="mumu.com.ng" /></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              
              <li class="has-dropdown"><a href="#">Practice Types</a>
                <ul class="dropdown">
                  <li><a href="{% url 'flashcard_list' %}">Open ended</a></li>
                  <li><a href="{% url 'quiz_selection' %}">Multiple choice</a></li>
                </ul>
              </li>
              
              <li><a href="{% url 'how_it_works' %}">How it works</a></li>
              
              {% comment %}<li><a href="{% url 'pricing' %}">Pricing</a></li>
              <li class="divider"></li>{% endcomment %}
            </ul>
            <!-- Left Nav Section End -->

            <!-- Right Nav Section -->
            <ul class="right">
              <li class="divider"></li>
            {% if user.is_authenticated %}
              <li class="has-dropdown"><a href="#">{{ user }}</a>
                <ul class="dropdown">
                  <li><label>ACCOUNT SETTINGS</label></li>
                  <li class="has-dropdown"><a href="#" class="">Account Settings</a>

                    <ul class="dropdown">
                      <li><a href="{% url 'change_details' %}">Change Personal Details</a></li>
                      <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                      {% comment %}<li><a href="{% url 'pricing' %}">Change Package</a></li>{% endcomment %}
                      {% comment %}<li><a href="{% url 'history' %}">View Payment History</a></li>{% endcomment %}
                    </ul>
                  </li>
                  
                  <li><a href="{% url 'auth_logout' %}">Sign Out</a></li>
                </ul>
              </li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                
                <li><a href="{% url 'auth_login' %}">Sign In</a></li>
            {% endif %}
              
              <li><a href="https://twitter.com/dotmumu">Follow @dotmumu</a></li>
            </ul>

          </section>
        </nav>
        {% endblock navigation %}

        {% block off-canvas-nav %}
        <div class="off-canvas-wrap show-for-small">
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" >
                                <span></span>
                        </a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title"><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/transparent.png" alt="mumu.com.ng" /></a></h1>
                    </section>
                    {% comment %}
                    <section class="right-small">
                        <a class="right-off-canvas-toggle score-icon" >
                            <span>88</span>
                        </a>
                    </section>
                    {% endcomment %}
                </nav>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Welcome</label></li>
                        <li><a href="{% url 'how_it_works' %}">How it works</a></li>
                        
                        <li><label>Practice Types</label></li>
                        <li><a href="{% url 'flashcard_list' %}">Open ended</a></li>
                        <li><a href="{% url 'quiz_selection' %}">Multiple choice</a></li>

                        <li><label>Users</label></li>

                        {% if user.is_authenticated %}
                        <li><label>Account Settings</label></li>
                        <li><a href="{% url 'change_details' %}">Change Personal Details</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'auth_logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{% url 'registration_register' %}">Register</a></li>
                        <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                        {% endif %}

                        <li><label>Follow us</label></li>
                        <li><a href="https://twitter.com/dotmumu">@dotmumu</a></li>
                        
                    </ul>
                </aside>
                {% comment %}
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Performance</label></li>
                        <li><a href="#">Scores From A - Z</a></li>
                    </ul>
                </aside>
                {% endcomment %}
                <section class="main-section">
                <!-- content goes here -->
                    <div class="row">
                        {% block main-container-off-canvas %}{% endblock main-container-off-canvas %}
                    </div>  <!-- row -->
                    {% block footer-off-canvas %}{% endblock footer-off-canvas %}
                </section>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        {% endblock off-canvas-nav %}
        <!-- End of navigation tins -------->

        <section class="hide-for-small">
            <div class="row">
                {% block main-container %}{% endblock main-container %}
            </div>  <!-- row -->
            {% block footer %}
            {% endblock footer %}            
        </section>
        
        {% block foundation-scripts %}
        <!-- load jQuery if necessary -->
            <script src="{{ STATIC_URL }}js/jquery.js"></script>
            <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
        {% endblock foundation-scripts %}

        {% block quantcast %}
        <!-- Quantcast Tag -->
        <script type="text/javascript">
        var _qevents = _qevents || [];

        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
        qacct:"p-1B150cCfkbkWS"
        });
        </script>

        <noscript>
        <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-1B150cCfkbkWS.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
        </noscript>
        <!-- End Quantcast tag -->
        {% endblock quantcast %}
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
