<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Babatunde Akinyanmi" />
        <meta name="google-site-verification" content="AkYA2HCeEUN3D3pz-NvDLJ0Z9hQfop9OjPAR_X8lp0E" />
        
        <title>{% block title %}Mumu.com.ng{% endblock %}</title>

        {% block css %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/css1.css" />
        {% endblock css %}

        <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    </head>
    
    <body>

        {% if messages %}
        <div data-alert class="alert-box ">
            {% for message in messages %}
            <p>{{ message }}<br /></p>
            <a href="#" class="close">&times;</a>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Navigation things -------->
        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="{% url home %}"><img src="{{ STATIC_URL }}img/mumu-logo-text-skyblue-180-24.png" alt="mumu.com.ng" /></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              <li class="divider"></li>
              <li><a href="{% url how_it_works %}">How it works</a></li>
              <li class="divider"></li>
              {% comment %}<li><a href="{% url pricing %}">Pricing</a></li>
              <li class="divider"></li>{% endcomment %}
            </ul>
            <!-- Left Nav Section End -->

            <!-- Right Nav Section -->
            {% if user.is_authenticated %}
            <ul class="right">
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#">{{ user }}</a>
                <ul class="dropdown">
                  <li><label>ACCOUNT SETTINGS</label></li>
                  <li class="has-dropdown"><a href="#" class="">Account Settings</a>

                    <ul class="dropdown">
                      <li><a href="{% url change_details %}">Change Personal Details</a></li>
                      <li><a href="{% url auth_password_change %}">Change Password</a></li>
                      {% comment %}<li><a href="{% url pricing %}">Change Package</a></li>{% endcomment %}
                      {% comment %}<li><a href="{% url history %}">View Payment History</a></li>{% endcomment %}
                    </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="{% url auth_logout %}">Sign Out</a></li>
                </ul>
              </li>
              <li class="divider"></li>
            </ul>
            {% else %}
            <ul class="right">
                <li class="divider"></li>
                <li><a href="{% url registration_register %}">Register</a></li>
                <li class="divider"></li>
                <li><a href="{% url auth_login %}">Sign In</a></li>
            </ul>
            {% endif %}
          </section>
        </nav>
        <!-- End of navigation things -------->
                
        <div class="row">
            {% block main-container %}{% endblock main-container %}
        </div>
        
        <div class="row">
            <div class="small-12 large-12 columns">
                <a href="https://twitter.com/dotmumu" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @dotmumu</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                
                <su:badge layout="2"></su:badge>
                <script type="text/javascript">
                    (function() {
                    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
                    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
                    })();
                </script>
            </div>
        </div>  <!-- row -->

        <!-- Check for Zepto support, load jQuery if necessary -->
        <script>
          document.write('<script src={{ STATIC_URL }}js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
        </script>
        <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
        <script>
        {% block load-foundation-plugin %}
          $(function(){
            $(document).foundation();    
          })
        {% endblock %}
        </script>
        <!-- Quantcast Tag -->
        <script type="text/javascript">
        var _qevents = _qevents || [];

        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
        qacct:"p-1B150cCfkbkWS"
        });
        </script>

        <noscript>
        <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-1B150cCfkbkWS.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
        </noscript>
        <!-- End Quantcast tag -->
    </body>
</html>
