<!DOCTYPE html>
    <!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
    <!--[if IE 9]><html class="no-js lt-ie10" lang="en"> <![endif]-->
    <!--[if gt IE 9|!(IE)]><!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->

    <head>
        {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Babatunde Akinyanmi" />
        <meta name="description" content="Free resource for practicing for Institute of Chartered Accountants of Nigeria examinations"
        <meta name="google-site-verification" content="AkYA2HCeEUN3D3pz-NvDLJ0Z9hQfop9OjPAR_X8lp0E" />

        <!-- For the worl d's most an noy ying browser - Internet Explorer -->
        <meta name="application-name" content="IcanPrep"/>
        <meta name="msapplication-starturl" content="http://icanprep.com/"/>
        <meta name="msapplication-tooltip" content="IcanPrep: Free ICAN examination preparation resource"/>
        <meta name="msapplication-task" content="name=Practise;action-uri=http://icanprep.com/practise/quiz/;icon-uri={{ STATIC_URL }}img/favicon.ico" />
        {% endblock meta %}
        
        <title>{% block title %}IcanPrep{% endblock title %}</title>

        {% block favicon %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
        {% endblock favicon %}
        
        {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/css1.css" />
        {% endblock css %}

        {% block script %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
        {% endblock script %}

        {% block google-analytics %}

        {% endblock %}
        
    </head>
    
    <body class="color">
        {% if messages %}
        <div data-alert class="alert-box ">
            {% for message in messages %}
            <p>{{ message }}<br /></p>
            <a href="#" class="close">&times;</a>
            {% endfor %}
        </div>
        {% endif %}

        {% block off-canvas-nav %}
        <div class="off-canvas-wrap">
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" id="stop1">
                                <span></span>
                        </a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title"><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logo-white.svg" alt="mumu.com.ng" /></a></h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon">
                                <span>chooser</span>
                        </a>
                    </section>

                </nav>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Prep Center</label></li>
                        <li><a href="{% url 'quiz_loader' %}">Quizzes</a></li>
                        {% comment %}
                        <li><a class="disabled">Videos</a></li>
                        <li><a class="disabled">Giveaways</a></li>
                        {% endcomment %}

                        {% if user.is_authenticated %}
                        <li><label>Account Settings</label></li>
                        <li><a href="{% url 'change_details' %}">Change Personal Details</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'auth_logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><label>Register</label></li>
                        <li><a href="{% url 'registration_register' %}">Register</a></li>
                        <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                        {% endif %}
                        <li><label>Resources</label></li>
                        <li><a href="{% url 'downloads' %}">Downloads</a> </li>

                        <li><label>Follow us</label></li>
                        <li><a href="https://twitter.com/dotmumu">@dotmumu</a></li>
                        <li><a href="{% url 'article_list' %}">Blog</a></li>
                        
                    </ul>
                </aside>
                
                <aside class="right-off-canvas-menu">
                    <img src="{{ STATIC_URL }}img/ajax-loader.gif" id="loader" class="hide">
                    <ul class="off-canvas-list" id="list">
                        <li><label>Nothing here yet. Click one of the buttons in the main area and this place will be
                        populated automatically.</label></li>
                    </ul>
                </aside>
                
                <section class="main-section">
                <!-- content goes here -->
                    <div class="row">
                        {% block main-container %}{% endblock main-container %}
                    </div>  <!-- row -->
                    {% block footer %}
            <div class="footer">
                <div class="row">
                    <div class="large-2 push-10 columns">
                        <a href="https://twitter.com/dotmumu"><img  alt="follow @dotmumu on twitter" src="{{ STATIC_URL }}img/twitter3.png" /></a>
                        <a href="mailto:mail@icanprep.com"><img src="{{ STATIC_URL }}img/mail3.png" /></a>
                        <p></p>
                    </div>
                    <div class="large-10 pull-2 columns">
                        <p>
                        &copy; 2013-2014 tundebabzy. All rights reserved.
                        Using this website is not a guarantee that
                        you will pass the ICAN examination.
                        I highly recommend that you read all ICAN
                        recommended materials as well.
                        This website is not affiliated to Institute of
                        Chartered Accountants of Nigeria (ICAN).
                        </p>
                    </div>
                </div>
            </div>

    {% endblock footer %}
                </section>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        {% endblock off-canvas-nav %}
        <!-- End of off-canvas -------->

        {% block foundation-scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
            <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
            <script type="text/javascript">$(document).foundation();</script>
        {% endblock foundation-scripts %}

        {% block quantcast %}
        <!-- Quantcast Tag -->
        <script type="text/javascript">
        var _qevents = _qevents || [];

        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
        qacct:"p-1B150cCfkbkWS"
        });
        </script>

        <noscript>
        <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-1B150cCfkbkWS.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
        </noscript>
        <!-- End Quantcast tag -->
        {% endblock quantcast %}

        {% block other-scripts %}

        {% endblock other-scripts %}
    </body>
</html>
