{% extends 'base.html' %}
{% block title %}Mumu| ICAN Revision Blog {% endblock %}
{% load markdownfilter %}
{% block main-container %}
            <div class="large-10 columns">
                <!-- ad -->
                <!-- End of ad -->
                <h1>Our Blog</h1>
                <hr>

                <!-- ad -->
                <!-- end of ad -->

                {% if is_paginated %}
                    {% for object in page_obj.object_list %}
                        <p><a href="{{ object.get_absolute_url }}">{{ object }}</a></p>
                        <hr>
                    {% endfor %}

                    {% if page_obj.has_previous %}<a href="{% url 'article_list_paged' page_obj.previous_page_number %}"> &leftarrow;</a> {% endif %}
                    {% if page_obj.has_next %}<a href="{% url 'article_list_paged' page_obj.next_page_number %}">&rightarrow;</a>{% endif %}
                {% else %}

                    {% for object in object_list %}
                        <h4>{{ object.title|title }}</h4>
                        <p><a href="{{ object.get_absolute_url }}">{{ object.description }}</a></p>
                        <hr>
                    {% endfor %}
                {% endif %}

            </div>
{% endblock main-container %}
