{% extends 'base.html' %}
{% block main-container %}
        <div class="small-12 large-10 large-centered columns">
            <p class="title"><a href="#">Question</a></p>
            <h4>{{ object.text }}</h4>
            <nav class="breadcrumbs converted">
                <a href="{% url flashcard_flip object.slug %}">View Answer</a>
                <a href="{% url next_flashcard topic_slug %}">Skip This Question</a>
                <a href="{% url flashcard_list %}">Choose Topic</a>
                <a href="{% url home %}">Go Home</a>
            </nav>
        </div>  <!-- small-12 .... -->
{% endblock main-container %}
