{% extends 'base.html' %}
{% block main-container %}
        <div class="large-6 large-centered columns">
            <div class="panel">
                {{ object.answer|safe }}<br /><br />
                <ul class="button-group even-3">
                    <li><a href="{% url home %}" class="tiny button">Go Home</a></li>
                    <li><a href="{% url flashcard_list %}" class="tiny button">New Topic</a></li>
                    <li><a href="{% url next_flashcard topic_slug %}" class="tiny button">Next Card</a></li>
            </div>  <!-- panel -->
        </div>  <!-- large-6 large-centered -->
{% endblock main-container %}
