{% extends 'base.html' %}
{% block main-container %}
        <div class="large-6 large-centered columns">
            <div class="panel">
                {{ object.text }}
                <br />
                <br />
                <ul class="button-group even-4">
                    <li><a href="{% url home %}" class="tiny button">Go Home</a></li>
                    <li><a href="{% url flashcard_list %}" class="tiny button">New Topic</a></li>
                    <li><a href="{% url next_flashcard topic_slug %}" class="tiny button">Skip</a></li>
                    <li><a href="{% url flashcard_flip object.slug %}" class="tiny button">Answer</a></li>
            </div>  <!-- panel -->
        </div>  <!-- large-6 large-centered -->
{% endblock main-container %}
