{% extends 'base.html' %}
{% block main-container %}
        <div class="large-10 small-12 large-centered columns">
            <p class="title"><a href="#">Answer</a></p>
                <h5>{{ object.answer|safe }}</h5>
                
                <nav class="forward-crumbs">
                    <ul>
                        <li><a href="{% url next_flashcard topic_slug %}">Next Question</a></li>
                    </ul>
                </nav>
                <nav class="dark-nav-bar">
                <ul>
                    <li><a href="{% url home %}">Home</a></li>
                    <li><a href="{% url flashcard_list %}">Choose Topic</a></li>
                </ul>
            </nav>
        </div>  <!-- large-10 large-centered -->
{% endblock main-container %}
