{% extends 'base_child.html' %}
{% load quiz_links %}
{% block title %}Mumu| ICAN Revision {% endblock %}
{% block main-container %}
            <div class="large-10 large-centered columns">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Mobile leaderboard top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px"
                         data-ad-client="ca-pub-3230262165925298"
                         data-ad-slot="3425079985"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

                <h2 class="subheader">There are hundreds of practise questions for your ICAN. How would you like to practise?</h2>

                <div class="panel">
                    <h5>Open Ended Quizzes</h5>
                    <hr>
                    {% open_ended_links %}
                </div>

                <div class="panel">
                    <h5>Multiple Choice Quizzes</h5>
                    <hr>
                    {% multiple_choice_links %}
                </div>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Mobile leaderboard top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px"
                         data-ad-client="ca-pub-3230262165925298"
                         data-ad-slot="3425079985"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
{% endblock main-container %}
