{% extends 'base.html' %}
{% load quiz_links %}
{% block title %}Mumu| ICAN Revision {% endblock %}
{% block main-container %}
            <div class="large-12 columns">
                <div class="height-50"></div>
                <pre>icanprep</pre>
                <h3>is a mobile phone optimised resource for Institute of Chartered Accountants of
                    Nigeria (ICAN) professional students. Our goal is to be a free and comprehensive online destination
                    for students to prepare for examinations without the need for traditional brick and mortar classrooms.</h3>
                <br>
                <div class="row">
                    <div class="large-4 columns">
                        <div class="radius panel box-18 box-shadow fill-white">
                            <h3 class="color-green">Test Yourself</h3><hr>
                            <h5 class="color-sky-blue">We have quizzes with many questions for you to repeatedly test
                            yourself on all the topics you are going to face in the exams.</h5>
                            <a class="large expand radius secondary button " href="{% url 'quiz_loader' %}">Start</a>
                        </div>
                    </div>

                    <div class="large-4 columns">
                        <div class="radius panel box-18 box-shadow fill-white">
                            <h3 class="color-green">Learn With Videos</h3><hr>
                            <h5 class="color-sky-blue">Videos are available to explain tricky topics and concepts and give you tips for passing
                            the exam. No subscription, no payment!</h5>
                            <a class="large expand radius secondary disabled button " href="#">Coming Soon</a>
                        </div>
                    </div>

                    <div class="large-4 columns">
                        <div class="radius panel box-18 box-shadow fill-white">
                            <h3 class="color-green">Giveaways </h3><hr>
                            <h5 class="color-sky-blue">If you are not feeling motivated enough to read, why not try our
                                games and challenges and get rewarded. There are many to choose from...</h5>
                            <a class="large expand radius secondary disabled button " href="#">Coming Soon</a>
                        </div>
                    </div>

                </div>
            </div>
{% endblock main-container %}

{% block joyride %}
        <ol class="joyride-list" data-joyride>
            <li data-id="stop1" data-text="Next" data-options="tip_location: top">
                <p>Hello and welcome. Anytime you need the navigation menu, click on this icon.</p>
            </li>
            <li data-button="End">
                <h4>The sky is your limit!</h4>
                <p>You can start practising for your exams</p>
            </li>
        </ol>
{% endblock joyride %}