{% extends 'base.html' %}
{% block title %}Mumu| Practice Quizzes For ICAN Preparation {% endblock %}
{% block main-container %}
            <div class="small-9 large-7 columns">
                <p>Flash cards to help you memorise definitions and terms and the likes </p>
            </div>
            <div class="small-3 large-5 columns">
                <a href="{% url flashcard_list %}" class="button">Start</a>
            </div> <!-- small-3 large-5 columns -->
            <div class="small-9 large-7 columns">
                <p>Practice quizzes to help you pass your ICAN</p>
            </div>  <!-- small-9 large-7 -->
            <div class="small-3 large-5 columns">
                <a href="{% url quiz_selection %}" class="button">Start</a>
            </div> <!-- small-3 large-5 columns -->
            <div class="small-9 large-7 columns">
                <a href="https://twitter.com/dotmumu" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @dotmumu</a>

                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    
                <su:badge layout="2"></su:badge>
                <script type="text/javascript">
                (function() {
                var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
                li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
                })();
                </script>
            </div>
{% endblock main-container %}
