{% extends 'base_child.html' %}
{% block title %}Mumu| How it works {% endblock %}
{% block main-container %}
            <div class="large-10 large-centered columns">
                <h1>How It Works</h1>
                <blockquote> If you can answer every question on the site correctly,
                you are probably going to have a pass.
                </blockquote>
                
                <blockquote> For best results, make it a point of duty to visit
                every other day. </blockquote>
                <hr />
                <div class="row">
                    <div class="large-12 columns">
                        <h3> Revise with open ended questions</h3>
                        <p> There are hundreds of open ended questions in our
                        database grouped by topics. The questions will be
                        selected randomly and is a good way to check your
                        readiness for open ended and fill-in-the-gap questions. </p>
                        <a class="button" href="{% url 'flashcard_list' %}">Start</a>
                    </div>  <!-- large-12 columns -->
                    <div class="large-12 columns">
                        <h3> Revise with multiple choice questions</h3>
                        <p> We also have many multiple choice questions grouped
                        by level, paper and topic. The questions will also be
                        selected randomly and is a good way to check your
                        readiness for the multiple choice questions.</p>
                        <a class="button" href="{% url 'quiz_selection' %}">Start</a>
                    </div> <!-- large-12 columns -->
                    <div class="large-12 columns">
                        <h3> Keep track of your "Hotness"</h3>
                        <p> There is a "hotness bar" which shows after you 
                        answer each question in the multiple choice section. 
                        It shows your performance on previous attempts at each 
                        question.
                        A red shows a wrong answer and a green shows a correct answer.<p>
                        <h5>
                            <span class="alert label">W</span>
                            <span class="success label">C</span>
                            <span class="success label">C</span>
                            <span class="success label">C</span>
                            <span class="success label">correct</span>
                        </h5>
                        <p> The greener the bar, the better. If your hotness bar
                        for a particular question keeps showing red, it is an
                        indicator of a need to study that topic more.</p>
                        <p>P.S You need to be logged in to be able to see a
                        hotness bar.</p>
                    </div>  <!-- large-12 columns -->
                </div>  <!-- row -->
            </div>  <!-- large-10 large-centered columns -->
{% endblock main-container %}
