{% extends 'base_child.html' %}
{% block main-container %}
    {% if question %}
            <div class="large-10 large-centered columns">
                <span class="secondary radius label"><h4>Question</h4></span>
                <div class="large-12 columns">
                    <h4>{{ question }}</h4>
                    <hr />
                
                    <form action="" method="POST">{% csrf_token %}
                        {{ options.options.errors }}
                        {% with form_options=options.options %}
                            {% for option in options.options %}
                                {{ option }}
                            {% endfor %}
                        {% endwith %}
                        {% if not is_from_database_page %}
                        <input type="submit" value="Submit" class="tiny button" />
                        {% endif %}
                    </form> <!-- form -->
                    
                    <nav class="dark-nav-bar">
                        <ul>
                            {% if not is_from_database_page %}
                            <li><a href="{% url 'quiz_selection' %}">{{ selection }}</a></li>
                            {% endif %}
                            <li><a href="{% url 'home' %}">Go Home</a></li>
                        </ul>
                    </nav>
                
                </div>  <!-- large-12 columns -->
            </div>  <!-- large-10 large-centered columns -->
    {% endif %}
{% endblock main-container %}
