{% extends 'base.html' %}
{% block main-container %}
        <div class="large-11 large-centered columns">
                <h4 class="subheader">You can test your knowledge and practice with our <a href="{% url quiz_selection %}">Practice Quizzes</a></h4><hr />
            <h3>Flash Cards</h3>
            {% for object in object_list %}
            <div class="panel">
                <h4><a href="{% url next_flashcard object.slug %}">{{ object }}</a></h4>
            </div>  <!-- panel -->
            {% endfor %}            
        </div>  <!-- large-6 large-centered -->
{% endblock main-container %}
