{% extends 'base.html' %}
{% load obj_count %}
{% block main-container %}
        <div class="large-11 large-centered columns">
            <div class="panel">
                <h5>For multiple choice questions, <a href="{% url quiz_selection %}">Click here</a></h5>
            </div>
            {% for object in object_list %}
            <div class="panel">
                <h5><a href="{% url next_flashcard object.slug %}">{{ object }}</a> <span class="round label">{% obj_count object %}</span></h5>
            </div>  <!-- panel -->
            {% endfor %}            
        </div>  <!-- large-6 large-centered -->
{% endblock main-container %}
