{% extends 'base_child.html' %}
{% load quiz_listing %}
{% block main-container %}
        <div class="large-10 large-centered columns">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Mobile leaderboard top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px"
                         data-ad-client="ca-pub-3230262165925298"
                         data-ad-slot="3425079985"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <div class="panel">
                <h5>For multiple choice questions, <a href="{% url 'quiz_selection' %}">Click here</a></h5>
            </div>
            {% categoriesf domain %}

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Mobile leaderboard top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px"
                         data-ad-client="ca-pub-3230262165925298"
                         data-ad-slot="3425079985"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>  <!-- large-10 large-centered -->
{% endblock main-container %}
